footer {
    background-color: #eee;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
}

h2 {
    border-bottom: 1px solid #eee;
    font-weight: bold;
}

table.alumni td:first-child,
table.alumni td:nth-child(2) {
    width: 10%;
}

.border {
    border: 3px solid #eee;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

.hover:hover {
    background-color: #f5f5f5;
}

.inline {
    display: inline-block;
}

.member {
    padding-top: 20px;
}

.member h3 {
    font-size: 18px;
    font-weight: bold;
}

.member img {
    margin: 0 auto;
    max-width: 200px;
}

.member table td:first-child {
    text-transform: capitalize;
    width: 20%;
}

.navbar {
    background-color: #005596;
}

.navbar a {
    text-transform: capitalize;
}

.navbar .navbar-toggle {
    border-color: #eee;
}
.navbar .navbar-toggle .icon-bar {
    background-color: #eee;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color: white;
    text-decoration: underline;
}

.project {
    display: inline-block;
    margin: 3px 1px;
    min-width: 210px;
    padding: 5px 10px;
    width: 23%;
}

.project:hover {
    border: 3px solid #ddd;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

.project img {
    max-width: 150px;
    width: 100%;
}

.project li {
    list-style-type: none;
}

.width-10 {
    width: 10%;
}

.width-25 {
    width: 25%;
}

.width-49 {
    width: 49%;
}

.width-100 {
    width: 100%;
}

#zoon {
    text-align: center;
}

#zoon .glyphicon {
    padding: 0 5px 10px;
}
