body {
    font-family: 'Malgun Gothic', sans-serif;
}

footer {
    background-color: #eee;
    color: #777;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
}

footer p {
    font-size: 12px;
    margin-bottom: 3px;
}

h2 {
    border-bottom: 1px solid #eee;
    font-family: 'Play', sans-serif;
    font-weight: bold;
}

h3 {
    font-family: 'Play', 'Malgun Gothic', sans-serif;
    font-weight: bold;
}

table.alumni td:first-child,
table.alumni td:nth-child(2) {
    width: 10%;
}

.answer {
    margin-left: 15px;
}

.border {
    border: 3px solid #eee;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

.center {
    text-align: center;
}

.contact table tr:first-child {
    border: 0px;
}

.hover:hover {
    background-color: #f5f5f5;
}

.inline {
    display: inline-block;
}

.member {
    padding-top: 20px;
}

.member h3 {
    font-size: 18px;
    font-weight: bold;
}

.member img {
    margin: 0 auto;
    max-width: 200px;
}

.member table td:first-child {
    text-transform: capitalize;
    width: 20%;
}

.navbar {
    background-color: #005596;
    min-height: 80px;
}

.navbar a {
    text-transform: capitalize;
}

.navbar #title {
    line-height: 50px;
    color: #f5f5f5;
    display: inline-block;
}

.navbar #title:hover {
    text-decoration: underline;
}

.navbar-nav > li > a {
    line-height: 20px;
    color: #f5f5f5;
}

.navbar-collapse {
    margin: 0 !important;
}

.navbar-nav > li > a:hover {
    background-color: #2277b8;
}

.navbar .nav > li.dropdown.open > .dropdown-toggle {
    background-color: #2277b8;
}

.navbar li.active {
    border-bottom: 3px solid whitesmoke;
}

.navbar .navbar-toggle {
    display: inline;
}

.navbar .navbar-toggle button {
    border: 1px solid transparent;
    border-color: #eee;
    border-radius: 4px;
    background-color: transparent;
    padding: 7px 6px;
}

.navbar .navbar-toggle button .icon-bar {
    background-color: #eee;
}

.navbar-brand {
    color: white;
    height: 80px;
}

.navbar-brand:hover {
    color: white;
    text-decoration: underline;
}

.navbar-brand #title {
    font-family: 'Play', sans-serif;
    font-size: 30px;
    margin-left: 10px;
    vertical-align: top;
}

.navbar-header {
    height: 80px;
}

.notice {
    margin: 0 auto;
    max-width: 800px;
}

.notice h3 {
    text-align: center;
}

.notice .content {
    margin-top: 50px;
}

.project {
    color: #777;
    display: inline-block;
    margin: 3px 1px;
    min-height: 155px;
    min-width: 210px;
    padding: 5px 10px;
    text-align: center;
    vertical-align: bottom;
    width: 23%;
}

.project:hover {
    border: 3px solid #ddd;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

.project img {
    max-width: 150px;
    width: 100%;
}

.question {
    font-size: 16px;
}

.width-10 {
    width: 10%;
}

.width-25 {
    width: 25%;
}

.width-49 {
    width: 49%;
}

.width-100 {
    width: 100%;
}

#logo svg {
    margin-top: -5px;
}

#hidden3{
  width:450px; height:500px; background:#ffffff; color:#333333; 
  position:absolute; top:150px; left:200px; text-align:left; 
  border:3px solid #000;
}

#zoon {
    text-align: center;
}

#zoon .glyphicon {
    padding: 0 5px 10px;
}

@media(max-width:767px) {
    .navbar li.active {
        border-bottom: none;
        text-decoration: underline;
    }

    .navbar .navbar-toggle {
        margin-bottom: 0;
        padding: 0;
    }

    .navbar .navbar-toggle button {
        margin-top: 5px;
    }

    .navbar .navbar-toggle div {
        display: block;
    }

    .navbar #title, .navbar-nav > li > a {
        line-height: inherit;
    }

    .navbar #title, .navbar-nav > li > a#title {
        line-height: 50px;
    }
}

@media(min-width:768px) {
    .navbar .navbar-toggle button {
        display: none;
    }

    .navbar .navbar-toggle {
        position: relative;
        right: 0;
        top: 10px;
    }
}
