{% extends "layout.html" %}

{% block extended_headers %}
<!-- image slider  -->
<link rel="stylesheet" href="{{url_for('static', filename = 'css/flexslider.css')}}" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
{% endblock %}


{% block contents %}

<h2>Alumni</h2>
<table class="alumni table table-hover">
{% for member in alumni|sort(attribute='year', reverse=True) %}
    <tr>
        <td width="5%">
            <!-- {{ member.get('year') }} -->
        </td>
        <td width="10%">
		{{ member.get('name') }}, {{ member.get('degree') }}<br>
        </td>
	<td width="20%">
		{% if not member['image'] %}
		<img class="width-30 center_margin thumbnail" src="{{ url_for('static', filename='images/members/ananymous.png')}}">
		{% else %}
		<img class="width-30 center_margin thumbnail" src="{{ url_for('static', filename='images/members/%s.jpg' % member['image']) }}">
		{% endif %}
	</td>
        <td>
    {% if 'job' in member.keys() %}
        {% if 'job_address' in member.keys() %}
            <a href="{{ member.get('job_address') }}">{{ member.get('job') }}</a>
        {% else %}
            {{ member.get('job') }}
        {% endif %}
    {% endif %}
        <br /><br />
    {% if 'dissertation' in member.keys() %}
        {% if 'diss_address' in member.keys() %}
            <a href="{{ member.get('diss_address') }}">{{ member.get('dissertation') }}</a>
        {% else %}
            {{ member.get('dissertation') }}
        {% endif %}
    {% endif %}
        </td>
    </tr>
{% endfor %}
</table>

{% endblock %}
