{% extends "layout.html" %}

{% block contents %}
<h2>Contact</h2>
<br />

<table class="table table-condensed contact">
    <tr>
        <td>{{ _('주소') }}</td>
        <td>{{ contact['address_%s' % locale].decode('utf-8') }}</td>
    </tr>
    <tr>
        <td>{{ _('전화번호') }}</td>
        <td>{{ contact['phone'] }}</td>
    </tr>
    <tr>
        <td>{{ _('이메일') }}</td>
        <td><a href="mailto:{{ contact['email'] }}">{{ contact['email'] }}</a></p></td>
    </tr>
    <tr>
        <td>{{ _('오시는 길') }}</td>
        <td>
            <ol>
                <li>
                    {{ _('서울대학교 정문 통과 후, 1.3 km 직진. 좌측에 Gate 5 로 들어온 후 주변에 주차.')}}
                    <br>
                    {{ _('우측 첫 번째 건물이 38 동이고 여길 지나서 두 번째 건물이 39동') }}
                </li>
                <li>
                    {{ _('서울대학교 후문 통과 후, 400 미터 직진. T 자 삼거리에서 좌회전 후, 950 미터 직진.') }}
                    <br>
                    {{ _('삼거리에서 우회전하여 내리막 오른쪽으로 구부러진 길로 150 미터 직진.') }}
                    <br>
                    {{ _('버스 정거장 옆 우측에 있는 Gate 6 으로 들어온 후, 주변에 주차. 내리막길 아래 좌측에 보이는 건물이 39동') }}
                </li>
            </ol>
        </td>
    </tr>
    <tr>
		<td>서울대학교 캠퍼스 맵: <a href = 'http://www.snu.ac.kr/upload/about/Gwanak_Campusmap_2013_kr.pdf'>다운로드</a><td>
		{% include 'map.html' %}
		
	</tr>
</table>


{% endblock %}
