{% extends "layout.html" %}

{% block contents %}
<h2>Admission FAQ</h2>
{% for qna in degrees['admission_qna'] %}
<h3 class="question"><li>{{ qna['question'] }}</li></h3>
<p class="answer">{{ qna['answer']|safe }}</p>
{% endfor %}

<h2>PhD</h2>
{% for line in degrees['PhD'] %}
<p class="answer"><li>{{ line['answer']|safe }}</li></p>
{% endfor %}

<h2>Masters</h2>
{% for line in degrees['Masters'] %}
<p class="answer"><li>{{ line['answer']|safe }}</li></p>
{% endfor %}
{% endblock %}
