{% extends "layout.html" %}

{% block contents %}
<h2>Education</h2>


<!-- longterm edu -->
<div>
    <h3>{{ educations[0]['title_%s' % locale] }}</h3>
    <ul>
    {% for company in educations[0]['companies'] %}
        <div class="project border">
            <img src="{{ url_for('static', filename='images/educations/%s.png' % company['id']) }}">
            <p>{{ company['description_%s' % locale] }}</p>
        </div>
    {% endfor %}
    </ul>
</div>


<!-- short-term edu and seminar -->
<div>
    <h3>{{ educations[1]['title_%s' % locale] }}</h3>
    <ul>
    {% for company in educations[1]['companies'] %}
        <div class="project_semi border">
            <img src="{{ url_for('static', filename='images/educations/%s.png' % company['id']) }}">
            <p>{{ company['description_%s' % locale] }}</p>
        </div>
    {% endfor %}
    </ul>
</div>

{% endblock %}
