{% extends "layout.html" %}

{% block contents %}
<h2>Education</h2>


<!-- longterm edu -->
<div>
    {% if locale=='ko' %}
    <p>빅데이터를 인사이트로 바꾸고 거기서 밸류를 창출하는 과정을 “<b>빅데이터 실행</b>＂이라고 한다면, 밸류에 대한 비젼을 세우고, 이를 가능케하는 인사이트를 상정하고, 이를 추출할 수 있는 데이터를 찾는 과정은 “<b>빅데이터 기획</b>＂이라고 합니다.</p>
    <p>멋진 디너 파티를 성공적으로 하려면, 참석자의 성향을 파악하여 그에 맞는 분위기에 대한 계획을 세우고, 거기에 맞는 요리를 선정하고, 필요한 재료를 찾아 나가야 합니다. 기획없이 진행하는 빅데이터 시도는 디너 파티 3시간 전에 냉장고 문을 열어보고 거기 있는 재료로 만들 수 있는 것을 그냥 만드는 것입니다.</p>
    <p>빅데이터 기획을 가장 잘 할 수 있는 사람은 <b>의사결정자</b>입니다.  단, “데이터=>인사이트=>밸류” 실행 프로세스에 대해 이해가 필요합니다.  이는 수 일간의 교육으로 가능하며, 그 내용은 다음과 같이 3 단계로 구성됩니다.</p>
    <ul>
	    <li>1 단계 <b>데이터마이닝/머신러닝</b> : 데이터를 인사이트로 바꾸는 데이터마이닝/머신러닝에 대해 최소한의 이론 및 실습.  이론 학습을 통해 빅데이터의 가능성과 한계를 동시에 이해. 실제 데이터와 software tool을 활용하여 인사이트 창출을 직접 경험하는 실습.</li>
	    <br>
	    <li>2 단계 <b>문제 해결</b> : 주어진 비즈니스 문제를 주어진 데이터로 해결하기 위해, 데이터로부터 인사이트 도출하는 실전 문제 해결 능력 향상.  첫 단계에서 배웠던 다양한 방법론 가운데 어떤 것을 어떤 순서로 적용해야하는 지 고민하는 문제해결 능력 배양.</li>
	    <br>
	    <li>3 단계 <b>빅데이터 기획</b> : 각자 해당 현업에서 중요한 비즈니스 문제 (또는 밸류)를 도출하고, 이를 해결하기 위한 인사이트 상정 및 필요 데이터 인지, 확보, 검토.  이를 정리하여 빅데이터 기획 완성, 발표 및 토론.</li>
    </ul>
    <table class="table">	
	    <thead style="font-weight: bold;">
		    <tr>
			    <th style="width:10%"></th>
			    <th style="width:30%">1단계</th>
			    <th style="width:30%">2단계</th>
			    <th style="width:30%">3단계</th>
		    </tr>
	    </thead>
	    <tbody>
		    <tr>
			    <td>제목</td>
			    <td><b>데이터마이닝/머신러닝 이론, 실습</b></td>
			    <td><b>문제 해결</b></td>
			    <td><b>빅데이터 기획</b></td>
		    </tr>
		    <tr>
			    <td>목표</td>
			    <td>핵심 개념, 적용 사례 및 방법론을 이론과 실습을 통해 습득</td>
			    <td>주어진 비즈니스 문제 및 데이터로 포뮬레이션 수행 및 인사이트 도출 능력 개발</td>
			    <td>현업 머신러닝/빅데이터 기획 능력 개발</td>
		    </tr>
		    <tr>
			    <td>내용</td>
			    <td> 
				    - <b>프레임워크</b>: 시각화, 클러스터링, 분류, 예측, 이상탐지, 최적화, 딥러닝, 텍스트마이닝
				    <br><br>- <b>Tool</b>: Spotfire, RapidMiner, Python, Scikit-learn, Tensorflow
			    </td>
			    <td>
				    - 주어진 데이터로부터 주어진 비즈니스 문제 해결하는<b>포뮬레이션 수행</b> 및 <b>인사이트 도출</b>.
			    </td>
			    <td>
				    - 현업에서 머신러닝/빅데이터로 해결할 수 있는 문제 도출. 
				    <br><br>- 비즈니스 밸류 및 예상 인사이트 도출.
				    <br><br>- 창의적 사고 방법론. 관련 데이터 인식, 확보, 확인 및 시각화를 통한 검토.
				    <br><br>- 분석 기획서 작성, 발표, 토의
			    </td>
		    </tr>
	    </tbody>
    </table>	
    {% else %}
    <p>빅데이터를 인사이트로 바꾸고 거기서 밸류를 창출하는 과정을 “<b>빅데이터 실행</b>＂이라고 한다면, 밸류에 대한 비젼을 세우고, 이를 가능케하는 인사이트를 상정하고, 이를 추출할 수 있는 데이터를 찾는 과정은 “<b>빅데이터 기획</b>＂이라고 합니다.</p>
    <p>멋진 디너 파티를 성공적으로 하려면, 참석자의 성향을 파악하여 그에 맞는 분위기에 대한 계획을 세우고, 거기에 맞는 요리를 선정하고, 필요한 재료를 찾아 나가야 합니다. 기획없이 진행하는 빅데이터 시도는 디너 파티 3시간 전에 냉장고 문을 열어보고 거기 있는 재료로 만들 수 있는 것을 그냥 만드는 것입니다.</p>
    <p>빅데이터 기획을 가장 잘 할 수 있는 사람은 <b>의사결정자</b>입니다.  단, “데이터=>인사이트=>밸류” 실행 프로세스에 대해 이해가 필요합니다.  이는 수 일간의 교육으로 가능하며, 그 내용은 다음과 같이 3 단계로 구성됩니다.</p>
    <ul>
	    <li>1 단계 <b>데이터마이닝/머신러닝</b> : 데이터를 인사이트로 바꾸는 데이터마이닝/머신러닝에 대해 최소한의 이론 및 실습.  이론 학습을 통해 빅데이터의 가능성과 한계를 동시에 이해. 실제 데이터와 software tool을 활용하여 인사이트 창출을 직접 경험하는 실습.</li>
	    <br>
	    <li>2 단계 <b>문제 해결</b> : 주어진 비즈니스 문제를 주어진 데이터로 해결하기 위해, 데이터로부터 인사이트 도출하는 실전 문제 해결 능력 향상.  첫 단계에서 배웠던 다양한 방법론 가운데 어떤 것을 어떤 순서로 적용해야하는 지 고민하는 문제해결 능력 배양.</li>
	    <br>
	    <li>3 단계 <b>빅데이터 기획</b> : 각자 해당 현업에서 중요한 비즈니스 문제 (또는 밸류)를 도출하고, 이를 해결하기 위한 인사이트 상정 및 필요 데이터 인지, 확보, 검토.  이를 정리하여 빅데이터 기획 완성, 발표 및 토론.</li>
    </ul>
    <table class="table">	
	    <thead style="font-weight: bold;">
		    <tr>
			    <th style="width:10%"></th>
			    <th style="width:30%">1단계</th>
			    <th style="width:30%">2단계</th>
			    <th style="width:30%">3단계</th>
		    </tr>
	    </thead>
	    <tbody>
		    <tr>
			    <td>제목</td>
			    <td><b>데이터마이닝/머신러닝 이론, 실습</b></td>
			    <td><b>문제 해결</b></td>
			    <td><b>빅데이터 기획</b></td>
		    </tr>
		    <tr>
			    <td>목표</td>
			    <td>핵심 개념, 적용 사례 및 방법론을 이론과 실습을 통해 습득</td>
			    <td>주어진 비즈니스 문제 및 데이터로 포뮬레이션 수행 및 인사이트 도출 능력 개발</td>
			    <td>현업 머신러닝/빅데이터 기획 능력 개발</td>
		    </tr>
		    <tr>
			    <td>내용</td>
			    <td> 
				    - <b>프레임워크</b>: 시각화, 클러스터링, 분류, 예측, 이상탐지, 최적화, 딥러닝, 텍스트마이닝
				    <br><br>- <b>Tool</b>: Spotfire, RapidMiner, Python, Scikit-learn, Tensorflow
			    </td>
			    <td>
				    - 주어진 데이터로부터 주어진 비즈니스 문제 해결하는<b>포뮬레이션 수행</b> 및 <b>인사이트 도출</b>.
			    </td>
			    <td>
				    - 현업에서 머신러닝/빅데이터로 해결할 수 있는 문제 도출. 
				    <br><br>- 비즈니스 밸류 및 예상 인사이트 도출.
				    <br><br>- 창의적 사고 방법론. 관련 데이터 인식, 확보, 확인 및 시각화를 통한 검토.
				    <br><br>- 분석 기획서 작성, 발표, 토의
			    </td>
		    </tr>
	    </tbody>
    </table>	
    {% endif %}
    {% for company in educations[0]['companies'] %}
        <div class="project_semi border">
            <img src="{{ url_for('static', filename='images/educations/%s.png' % company['id']) }}">
            <p>{{ company['description_%s' % locale] }}</p>
        </div>
    {% endfor %}
    {% for company in educations[1]['companies'] %}
        <div class="project_semi border">
            <img src="{{ url_for('static', filename='images/educations/%s.png' % company['id']) }}">
            <p>{{ company['description_%s' % locale] }}</p>
        </div>
    {% endfor %}
    </ul>
</div>
{% endblock %}
