{% set active_page = request.path.split('/')[-1] %}

<nav class="navbar" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('home') }}">SNU Data Mining Center</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% for menu in menus %}
            {% if isinstance(menu, str) %}
            <li><a href="{{ url_for(menu) }}">{{ menu }}</a></li>
            {% else %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ menu[0] }}<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    {% for submenu in menu[1] %}
                    <li><a href="{{ url_for(submenu) }}">{{ submenu }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
        {% endfor %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
