<nav class="navbar" role="navigation">
  <div class="container container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <!--<div id="navbar-toggle" class="navbar-toggle">
      <input id="locale-toggle" type="checkbox" {% if locale=='ko' %}checked {% endif %}data-toggle="toggle" data-on="Korean" data-off="English" data-size="mini">
      <button type="button" class="collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div> -->
    <div id="navbar-toggle" class="navbar-toggle" data-toggle="buttons">
      <button type="button" class="collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <label class="btn btn-primary btn-xs {% if locale=='ko' %}active{% endif %} ">
        <input type="radio" name="options" id="option1" autocomplete="off" {% if locale=='ko' %}checked {% endif %}> Korean
      </label>
      <label class="btn btn-primary btn-xs {% if locale=='en' %}active{% endif %}">
        <input type="radio" name="options" id="option2" autocomplete="off" {% if locale=='en' %}checked {% endif %}> English
      </label>
    </div>
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('home', lang_code=locale) }}">
        <span id="logo"></span>
        <span id="title">
            <span class="visible-xs">SNUDM</span>
            <span class="hidden-xs">SNU Data Mining Center</span>
        </span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
      <!-- 교수님 요청으로 Nav bar 수정하면서 padding-left 붙임 -->
      <ul class="nav navbar-nav" style = "padding-left:15px;">
        {% for menu in menus %}
            {% if isinstance(menu, str) %}
              <li{% if active_page==menu %} class="active"{% endif %}><a href="{{ url_for(menu.lower(), lang_code=locale) }}">{% if menu=='datamining' %} Data Mining {% elif menu=='education' %} Education {% elif menu=='opendata' %} Data {% else %} {{ menu }} {% endif %} </a></li>
            {% else %}
              <li class="{% if active_page==menu[0] %}active {% endif %}dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ menu[0] }}<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                      {% for submenu in menu[1] %}
                        {% if submenu=='admission' %}
                          <li><a href="{{ url_for('admission', lang_code=locale) }}">{{ 'Admission FAQ' }}</a></li>
                        {% elif submenu=='insight' %}
                          <li><a href="{{ url_for('insight', lang_code=locale) }}">{{ 'Insights from 10-Ks and News' }}</a></li>
    					          {% elif submenu=='journal' %}
                          <li><a href="{{ url_for('journal', lang_code=locale) }}">{{ 'Journal since 2010' }}</a></li>
    					          {% elif submenu=='conference' %}
                          <li><a href="{{ url_for('conference', lang_code=locale) }}">{{ 'Conference since 2010' }}</a></li>
                        {% elif submenu=='students_on_leave_of_absence' %}
                          <li><a href="{{ url_for('students_on_leave_of_absence', lang_code=locale) }}">{{ 'Students on leave of absence' }}</a></li>
                        {% else %}
                          <li><a href="{{ url_for(submenu.lower(), lang_code=locale) }}">{{ submenu }}</a></li>
                        {% endif %}
                      {% endfor %}
                  </ul>
              </li>
            {% endif %}
        {% endfor %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<script>
$(function() {
    var split_url = '{{ request.path.split('/', 2)[-1] }}';
    var toggle_lang = $('#option1').prop('checked') ? 'en':'ko';
    $('#option1').change(function() {
        window.location.replace('/' + toggle_lang + '/' + split_url);
    });
    $('#option2').change(function() {
        window.location.replace('/' + toggle_lang + '/' + split_url);
    })
})
</script>
