{% extends "layout.html" %}

{% block contents %}
<h3>Members</h3>
{% for member in members %}
<img class="member-photo" src="{{ url_for('static', filename='images/members/%s.jpg' % member['image']) }}">
<table class="table">
    {% for key, value in member.items() %}
        {% if key!='image' %}
        <tr>
            <td>{{ key }}</td><td>{{ value }}</td>
        </tr>
        {% endif %}
    {% endfor %}
</table>
{% endfor %}

<h3>Alumni Ph.D.</h3>
{% for member in alumni_phd %}
<tr>
    {% for column in member %}
    <td>{{ column }}</td>
    {% endfor %}
</tr>
{% endfor %}

<h3>Alumni M.S.</h3>
{% for member in alumni_ms %}
<tr>
    {% for column in member %}
    <td>{{ column }}</td>
    {% endfor %}
</tr>
{% endfor %}


{% endblock %}
