{% extends "layout.html" %}

{% block contents %}
<h2>Director</h2>
<!--
<div class="member hover row">
    <div id="zoon" class="col-md-2">
        <img class="width-100 thumbnail" src="{{ url_for('static', filename='images/members/zoon.jpg') }}">
        {% if locale=='ko' %}
        <h3>조 성 준 교수</h3>
        <p>(趙成埈, Sungzoon Cho)</p>
        {% else %}
        <h3>Prof. Sungzoon Cho</h3>
        <p>(조성준, 趙成埈)</p>
        {% endif %}
        <a href="mailto:zoon@snu.ac.kr"><span class="glyphicon glyphicon-envelope"></span>zoon at snu.ac.kr</a>
    </div>
    <div class="col-md-10">
        {% include 'zoon.html' %}
    </div>
</div>
-->

<div id="zoon" class="member hover row">
    <div class="col-md-2">
    	<p></p>
        <img class="width-100 thumbnail" src="{{ url_for('static', filename='images/members/zoon.jpg') }}" align="bottom">
    </div>
    <div class="col-md-10", style="text-align:left">
        {% if locale=='ko' %}
        <h3>조 성 준 교수 (趙成埈, Sungzoon Cho)</h3>
        {% else %}
        <h3>Prof. Sungzoon Cho (조성준, 趙成埈)</h3>
        {% endif %}
        <table class="table table-condensed", style="text-align:left">
            <tr>
                <td>Work</td>
                <td>
                    Professor, Industrial Engineering, Seoul National University 
                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>
                    zoon at snu.ac.kr
                </td>
            </tr>
            
            <tr>
                <td>Homepage</td>
                <td>
                    <a href = http://dm.snu.ac.kr/~zoon target=_blank> dm.snu.ac.kr/~zoon</a>
                </td>
            </tr>
            
            <tr>
                <td>Research Areas</td>
                <td>
                    Big Data, Business Analytics, Machine Learning, Anomaly Detection
                </td>
            </tr>
            
            <tr>
                <td>PhD</td>
                <td>
                    Computer Science, University of Maryland
                </td>
            </tr>

            <tr>
                <td>M.S.</td>
                <td>
                    Computer Science, University of Washington
                </td>
            </tr>

            <tr>
                <td>M.S./B.S.</td>
                <td>
                    Industrial Engineering, Seoul National University
                </td>
            </tr>
        </table>
    </div>
</div>

<h2>Ph.D. Candidates</h2>
{% for member in members['phd_candidates'] %}
<div id="{{ member['image'] }}" class="member hover row">
    <div class="col-md-2">
        <img class="width-100 thumbnail" src="{{ url_for('static', filename='images/members/%s.jpg' % member['image']) }}">
    </div>
    <div class="col-md-10">
        <h3>{{ member['name'] }}</h3>
        <table class="table table-condensed">
            {% if 'email' in member.keys() %}
            <tr>
                <td>Email</td>
                <td>
                    {{ member.get('email')}}
                </td>
            </tr>
            {% endif %}

            {% if 'homepage' in member.keys() %}
            <tr>
                <td>Homepage</td>
                <td>
                    <a href="{{ member.get('homepage') }}">{{ member.get('homepage') }}</a>
                </td>
            </tr>
            {% endif %}

            {% if 'research area' in member.keys() %}
            <tr>
                <td>Research Areas</td>
                <td>
                    {{ member.get('research area') }}
                </td>
            </tr>
            {% endif %}

            {% if 'job' in member.keys() %}
            <tr>
                <td>Job</td>
                <td>
                    {{ member.get('job') }}
                </td>
            </tr>
            {% endif %}

            {% if 'M.S.' in member.keys() %}
            <tr>
                <td>M.S.</td>
                <td>
                    {{ member.get('M.S.') }}
                </td>
            </tr>
            {% endif %}

            {% if 'B.S.' in member.keys() %}
            <tr>
                <td>B.S.</td>
                <td>
                    {{ member.get('B.S.') }}
                </td>
            </tr>
            {% endif %}

            {% if 'highschool' in member.keys() %}
            <tr>
                <td>High school</td>
                <td>
                    {{ member.get('highschool') }}
                </td>
            </tr>
            {% endif %}
        </table>
    </div>
</div>
{% endfor %}

<!--
<h2>Ph.D. All but Dissertation</h2>
{% for member in members['phd_abd'] %}
<div id="{{ member['image'] }}" class="member hover row">
    <div class="col-md-2">
        <img class="width-100 thumbnail" src="{{ url_for('static', filename='images/members/%s.jpg' % member['image']) }}">
    </div>
    <div class="col-md-10">
        <h3>{{ member['name'] }}</h3>
        <table class="table table-condensed">
            {% if 'email' in member.keys() %}
            <tr>
                <td>Email</td>
                <td>
                    {{ member.get('email')}}
                </td>
            </tr>
            {% endif %}

            {% if 'homepage' in member.keys() %}
            <tr>
                <td>Homepage</td>
                <td>
                    <a href="{{ member.get('homepage') }}">{{ member.get('homepage') }}</a>
                </td>
            </tr>
            {% endif %}

            {% if 'research area' in member.keys() %}
            <tr>
                <td>Research Area</td>
                <td>
                    {{ member.get('research area') }}
                </td>
            </tr>
            {% endif %}

            {% if 'job' in member.keys() %}
            <tr>
                <td>Job</td>
                <td>
                    {{ member.get('job') }}
                </td>
            </tr>
            {% endif %}

            {% if 'M.S.' in member.keys() %}
            <tr>
                <td>M.S.</td>
                <td>
                    {{ member.get('M.S.') }}
                </td>
            </tr>
            {% endif %}

            {% if 'B.S.' in member.keys() %}
            <tr>
                <td>B.S.</td>
                <td>
                    {{ member.get('B.S.') }}
                </td>
            </tr>
            {% endif %}

            {% if 'highschool' in member.keys() %}
            <tr>
                <td>Highschool</td>
                <td>
                    {{ member.get('highschool') }}
                </td>
            </tr>
            {% endif %}
        </table>
    </div>
</div>
{% endfor %}
-->

<h2>Ph.D. Students</h2>
{% for member in members['phd_students'] %}
<div id="{{ member['image'] }}" class="member hover row">
    <div class="col-md-2">
        <img class="width-100 thumbnail" src="{{ url_for('static', filename='images/members/%s.jpg' % member['image']) }}">
    </div>
    <div class="col-md-10">
        <h3>{{ member['name'] }}</h3>
        <table class="table table-condensed">
            {% if 'email' in member.keys() %}
            <tr>
                <td>Email</td>
                <td>
                    {{ member.get('email')}}
                </td>
            </tr>
            {% endif %}

            {% if 'homepage' in member.keys() %}
            <tr>
                <td>Homepage</td>
                <td>
                    <a href="{{ member.get('homepage') }}">{{ member.get('homepage') }}</a>
                </td>
            </tr>
            {% endif %}

            {% if 'research area' in member.keys() %}
            <tr>
                <td>Research Area</td>
                <td>
                    {{ member.get('research area') }}
                </td>
            </tr>
            {% endif %}

            {% if 'job' in member.keys() %}
            <tr>
                <td>Job</td>
                <td>
                    {{ member.get('job') }}
                </td>
            </tr>
            {% endif %}

            {% if 'M.S.' in member.keys() %}
            <tr>
                <td>M.S.</td>
                <td>
                    {{ member.get('M.S.') }}
                </td>
            </tr>
            {% endif %}

            {% if 'B.S.' in member.keys() %}
            <tr>
                <td>B.S.</td>
                <td>
                    {{ member.get('B.S.') }}
                </td>
            </tr>
            {% endif %}

            {% if 'highschool' in member.keys() %}
            <tr>
                <td>Highschool</td>
                <td>
                    {{ member.get('highschool') }}
                </td>
            </tr>
            {% endif %}
        </table>
    </div>
</div>
{% endfor %}

<h2>Masters' Students</h2>
{% for member in members['ms_students'] %}
<div id="{{ member['image'] }}" class="member hover row">
    <div class="col-md-2">
        <img class="width-100 thumbnail" src="{{ url_for('static', filename='images/members/%s.jpg' % member['image']) }}">
    </div>
    <div class="col-md-10">
        <h3>{{ member['name'] }}</h3>
        <table class="table table-condensed">
            {% if 'email' in member.keys() %}
            <tr>
                <td>Email</td>
                <td>
                    {{ member.get('email')}}
                </td>
            </tr>
            {% endif %}

            {% if 'homepage' in member.keys() %}
            <tr>
                <td>Homepage</td>
                <td>
                    <a href="{{ member.get('homepage') }}">{{ member.get('homepage') }}</a>
                </td>
            </tr>
            {% endif %}

            {% if 'research area' in member.keys() %}
            <tr>
                <td>Research Area</td>
                <td>
                    {{ member.get('research area') }}
                </td>
            </tr>
            {% endif %}

            {% if 'job' in member.keys() %}
            <tr>
                <td>Job</td>
                <td>
                    {{ member.get('job') }}
                </td>
            </tr>
            {% endif %}

            {% if 'M.S.' in member.keys() %}
            <tr>
                <td>M.S.</td>
                <td>
                    {{ member.get('M.S.') }}
                </td>
            </tr>
            {% endif %}

            {% if 'B.S.' in member.keys() %}
            <tr>
                <td>B.S.</td>
                <td>
                    {{ member.get('B.S.') }}
                </td>
            </tr>
            {% endif %}

            {% if 'highschool' in member.keys() %}
            <tr>
                <td>Highschool</td>
                <td>
                    {{ member.get('highschool') }}
                </td>
            </tr>
            {% endif %}
        </table>
    </div>
</div>
{% endfor %}

<h2>Alumni</h2>
<h3>Ph.D.</h3>
<table class="alumni table table-hover">
{% for member in alumni['phd_alumni'] %}
    <tr>
        <td>
            {{ member.get('year') }}
        </td>
        <td>
            {{ member.get('name') }}
        </td>
        <td>
    {% if 'job' in member.keys() %}
            {{ member.get('job') }}
    {% endif %}
        <br /><br />
    {% if 'dissertation' in member.keys() %}
        {% if member.get('diss_address')==""  %}
            {{ member.get('dissertation') }}
        {% else %}
            <a href="{{ member.get('diss_address') }}">{{ member.get('dissertation') }}</a>
        {% endif %}
    {% endif %}
        </td>
    </tr>
{% endfor %}
</table>

<h3>M.S.</h3>
<table class="alumni table table-hover">
{% for member in alumni['ms_alumni'] %}
    <tr>
        <td>
            {{ member.get('year') }}
        </td>
        <td>
            {{ member.get('name') }}
        </td>
        <td>
        {% if 'job' in member.keys() %}
            {{ member.get('job') }}
        {% endif %}
        <br /><br />
        {% if 'dissertation' in member.keys() %}
            {% if member.get('diss_address') ==""  %}
                {{ member.get('dissertation') }}
            {% else %}
                <a href="{{ member.get('diss_address') }}">{{ member.get('dissertation') }}</a>
            {% endif %}
        {% endif %}
        </td>
    </tr>
{% endfor %}
</table>

{% endblock %}
