{% extends "layout.html" %}

{% block contents %}
<h3>Data Source</h3>
<table class="table">
  <thead style="font-weight: bold;">
    {% for col in ["domain", "source", "asof", "description", "acquisition", "datatype", "researcher"] %}
      <td style="width:10%"> {{opendata['columns_%s' % locale][col]}}</td>
    {% endfor %}
  </thead>
  <tbody>
    {% for data in opendata['opendata'] %}
      <tr>
        {% for col in ["domain", "source", "asof", "description", "acquisition", "datatype", "researcher"] %}
          <td  {% if col == 'description' %} width='40%'  {% endif %}>
            {% if col == "source" %}
              <a href={{data['URL']}}>{{ data[opendata['columns_ko'][col]] }}</a>
            {% else %}
              {{ data[opendata['columns_ko'][col]] }}
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
