{% extends "layout.html" %}

{% block extended_headers %}
<!-- image slider  -->
<link rel="stylesheet" href="{{url_for('static', filename = 'css/flexslider.css')}}" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="{{url_for('static', filename = 'js/jquery.flexslider.js')}}"></script>
{% endblock %}


{% block contents %}

<h2>Director</h2>

<div id="zoon" class="member row">
    <div class="col-md-2">
    	<p></p>
        <img class="width-100 thumbnail" src="{{ url_for('static', filename='images/members/zoon.jpg') }}" align="bottom">
    </div>
    <div class="col-md-10", style="text-align:left">
        {% if locale=='ko' %}
        <h3>조 성 준 교수 (趙成埈, Sungzoon Cho)</h3>
		Professor, Industrial Engineering, Seoul National University<br>
		zoon at snu.ac.kr
        {% else %}
        <h3>Prof. Sungzoon Cho (조성준, 趙成埈)</h3>
		Professor, Industrial Engineering, Seoul National University<br>
		zoon at snu.ac.kr
        {% endif %}
    </div>
</div>
<br>
<div>
현재 서울대학교 산업공학과 교수와 빅데이터 인공지능 센터장으로 재직하고 있다. 또한, 정부와 공공기관이 보유하고 있는 데이터를 개방하여 국민의 알 권리 보장 및 민간의 산업적 데이터 활용을 도모하는 공동데이터법에 따라 만들어진 공공데이터전략위원장을 맡고있다. 정부3.0추진위원회  빅데이터전문위원장과 한국BI데이터마이닝학회 회장을 역임하였다. 인공지능, 뉴럴네트워크을 시작으로, 머신러닝, 데이터마이닝을 연구하여 왔고, 최근에는 딥러닝, 텍스트마이닝을 연구하고 있다. 이러한 방법론을 바탕으로 제조, 금융, 마케팅, 인사 분야에서 대량 생산되는 IoT 센서 데이터, 텍스트 데이터, 거래 데이터 등으로부터 인사이트를 도출하고 있다. 경험이나 감에 의존하는 주관적 의사결정을 넘어 데이터에 기반한 객관적 의사결정을 일상화하기 위해 필요한 프로세스 변화, 조직 변화, 임직원 교육에 대해서도 연구하고 있다.
<br><br>
머신러닝, 인공지능 분야 최고 권위의 저널에 200여 편의 논문을 발표하였고, 다수의 특허와 상용 소프트웨어를 개발하였다. 삼성전자, 현대자동차, SK텔레콤, LG전자, 신한카드, 현대카드, 두산인프라코어, CJ제일제당, Adobe, 한국은행, 건강보험심사평가원, 전자통신연구원 등에 빅데이터/인공지능 연구과제 및 자문을 수행하여왔다. 또한, 삼성전자, SK하이닉스, 농협금융지주, 하나금융지주, CJ제일제당 임직원 대상의 빅데이터 교육도 수행하였다. 정부3.0 빅데이터 전문위원장으로서 대한민국 근정포장 (2016년), 경영과학을 이용하여 조직의 발전과 경쟁력을 향상시킨 공로로 한국경영과학회 조해형경영과학산학협력대상 (2021년)을 수상하였다. 2022년 3월 현재 100명 이상의 석사 및 박사를 논문 지도하여 배출하였고, 38명의 석사 및 박사과정생을 지도하고 있다. 저서로는 “세상을 읽는 새로운 언어, 빅데이터” (2019년, 21세기북스, <a target="_blank" rel="noopener noreferrer" href='https://youtu.be/ig8eBmAPRWE'>유튜브</a>, <a target="_blank" rel="noopener noreferrer" href='https://audioclip.naver.com/search/all?keyword=%EC%A1%B0%EC%84%B1%EC%A4%80'>네이버 오디오클립</a>), “빅데이터 커리어 가이드북” (2021년, 도서출판 길벗) 및 "데이터 천재들은 어떻게 기획과 분석을 할까? (2022년, 21세기북스) 가 있다.

<br><br>
서울대 산업공학과 학사, 석사학위 취득 후, 미 국무성의 풀브라이트 전액 장학생으로 선발되어 미국 워싱톤대학교 컴퓨터사이언스 학과에서 인공지능 석사학위 및 메릴랜드대학교 컴퓨터사이언스 학과에서 뉴럴네트워크, 머신러닝 분야로 박사학위를 받았다.
<br><hr>
Sungzoon Cho is professor of Industrial Engineering Department and the director of Big Data AI Center at Seoul National University (http://dm.snu.ac.kr). He currently serves as the chair of Korea government’s Open Data Strategic Council.  He served as the Big Data subcommittee on the Government3.0 Committee of Korean government from 2013 to 2016. He is also on the editorial board of Flexible Services and Manufacturing Journal, International Journal of Operations Research and Information Systems and International Journal of Cognitive Biometrics. He was the president of Korea Business Intelligence Data Mining Society from 2010 to 2012. His main areas of research include big data, text mining, machine learning and anomaly detection as well as their applications in manufacturing, marketing, finance, and biometrics.
<br><br>
He has published about 200 articles in such journals as Pattern Recognition, Neural Computation, IEEE Transactions on Neural Networks, IEEE Transactions on Semiconductor Manufacturing, AI in Medicine, Journal of Interactive Marketing, and Computer and Security. He obtained several patents from US and Korea and helped to develop two commercial software products which are the de factor standard in psychiatric clinics around Korea. The companies he has been advising in the area of data analytics include Samsung Electronics, Hyundai Motors, LG Electronics, Hyundai Heavy Industries, POSCO, Daewoo Shipbuilding and Marine Engineering, Doosan Infracore, SK Hynix Semiconductor, SK Telecommunication, CJ, and Adobe. He advised 103 Master students as of September 2019. He teaches Big Data and Artificial Intelligence.
<br><br>
He received BS and MS in industrial engineering from Seoul National University. He then went to the US thanks to Fulbright scholarship and got MS in computer science from University of Washington and PhD in computer science from University of Maryland for research in neural networks and machine learning.
	</div>
{% endblock %}
