{% extends "layout.html" %}

{% block extended_headers %}
<!-- image slider  -->
<link rel="stylesheet" href="{{url_for('static', filename = 'css/flexslider.css')}}" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="{{url_for('static', filename = 'js/jquery.flexslider.js')}}"></script>
{% endblock %}


{% block contents %}

<h2>Director</h2>
<!--
<div class="member hover row">
    <div id="zoon" class="col-md-2">
        <img class="width-100 thumbnail" src="{{ url_for('static', filename='images/members/zoon.jpg') }}">
        {% if locale=='ko' %}
        <h3>조 성 준 교수</h3>
        <p>(趙成埈, Sungzoon Cho)</p>
        {% else %}
        <h3>Prof. Sungzoon Cho</h3>
        <p>(조성준, 趙成埈)</p>
        {% endif %}
        <a href="mailto:zoon@snu.ac.kr"><span class="glyphicon glyphicon-envelope"></span>zoon at snu.ac.kr</a>
    </div>
    <div class="col-md-10">
        {% include 'zoon.html' %}
    </div>
</div>
-->

<div id="zoon" class="member hover row">
    <div class="col-md-2">
    	<p></p>
        <img class="width-100 thumbnail" src="{{ url_for('static', filename='images/members/zoon.jpg') }}" align="bottom">
    </div>
    <div class="col-md-10", style="text-align:left">
        {% if locale=='ko' %}
        <h3>조 성 준 교수 (趙成埈, Sungzoon Cho)</h3>
        {% else %}
        <h3>Prof. Sungzoon Cho (조성준, 趙成埈)</h3>
        {% endif %}
        <table class="table table-condensed", style="text-align:left">
            <tr>
                <td>Work</td>
                <td>
                    Professor, Industrial Engineering, Seoul National University 
                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>
                    zoon at snu.ac.kr
                </td>
            </tr>
            
            <tr>
                <td>Homepage</td>
                <td>
                    <a href = http://dm.snu.ac.kr/~zoon/index.html target=_blank> dm.snu.ac.kr/~zoon/index.html</a>
                </td>
            </tr>
            
            <tr>
                <td>Areas of Interest</td>
                <td>
                    Big Data, Business Analytics, Machine Learning, Anomaly Detection
                </td>
            </tr>
            
            <tr>
                <td>PhD</td>
                <td>
                    Computer Science, University of Maryland
                </td>
            </tr>

            <tr>
                <td>M.S.</td>
                <td>
                    Computer Science, University of Washington
                </td>
            </tr>

            <tr>
                <td>M.S./B.S.</td>
                <td>
                    Industrial Engineering, Seoul National University
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
