{% extends "layout.html" %}

{% block contents %}
<h2>Publications</h2>

<h3>Accepted</h3>
<ol reversed>
    {% for pub in pub_accepted %}
    <li>{{ pub }}</li>
    {% endfor %}
</ol>


<h3>International Journals</h3>
<ol reversed>
{% for pub in pub_int_journals %}
    <li>
    {% if 'http' in pub %}
    {% set title, url = pub.rsplit(',', 1) %}<a href="{{ url }}">{{ title }}</a>
    {% else %}
    {{ pub }}
    {% endif %}
    </li>
{% endfor %}
</ol>

<h3>International Conferences</h3>
<ol reversed>
    {% for pub in pub_int_conferences %}
    <li>{{ pub }}</li>
    {% endfor %}
</ol>

<h3>Domestic Journals</h3>
<ol reversed>
    {% for pub in pub_dom_journals %}
    <li>{{ pub }}</li>
    {% endfor %}
</ol>

<h3>Domestic Conferences</h3>
<ol reversed>
    {% for pub in pub_dom_conferences %}
    <li>{{ pub }}</li>
    {% endfor %}
</ol>

<h3>Patent</h3>
<ol>
    {% for pub in pub_patent %}
    <li>{{ pub }}</li>
    {% endfor %}
</ol>
{% endblock %}
