{% extends "layout.html" %}

{% block contents %}
<h2>Software</h2>
<h3><a href="http://konlpy.org">KoNLPy</a></h3>
<ul>
    <li>{{ _('개발자') }}: <a href="{{ url_for('member', name='epark') }}">{{ _('박은정 연구원') }}</a></li>
    <li>{{ _('파이썬은 간결한 아름다움을 추구하는 동시에 강력한 스트링 연산이 가능한 언어입니다. KoNLPy(“코엔엘파이”로 읽습니다)는 그러한 특장점을 살려, 파이썬으로 한국어 자연어처리를 할 수 있게 지원하는 패키지입니다. 꼬꼬마, 한나눔, MeCab 등 국내외에서 개발된 여러 형태소 분석기들을 모듈화하고, 자연어 처리에 필요한 각종 사전, 코퍼스, 도구 및 다양한 예제 등을 포함하여 누구나 손쉽게 한국어 분석을 할 수 있도록 만들었습니다. 이 프로젝트로 인해 한국어 자연어처리 커뮤니티가 더욱 성장하고, 연구와 개발이 활발해지기를 바랍니다.') }}</li>
</ul>
<h3>Others</h3>
<ul>
    <li>{{ _('키스트로크기반 인증솔루션') }}</li>
    <li>{{ _('소아청소년 주의집중력 훈련프로그램') }}</li>
    <li>{{ _('소아청소년 정밀주의력 검사프로그램') }}</li>
</ul>
{% endblock %}
