{% extends "layout.html" %}

{% block contents %}
<h2>Startup from Big Data AI Center</h2>
	<ul>
	
	</ul>
<!-- <h2>Project Topics</h2> 교수님이 지우라고 하심. -->
{% for topic in topics %}
<div>
    <h3>{{ topic['title_%s' % locale] }}</h3>
    <ul>
    {% for company in topic['companys'] %}
        <li class="project border">
            <img margin:0 auto; src="{{ url_for('static', filename='images/startuplogo/%s.png' % company['id']) }}">
            <p>{{ company['description_%s' % locale] }}</p>
            <p>{{ company['ceo'] }}</p>
            <p>{{ company['member'] }}</p>
            <p>{{ company['URL'] }}</p>
        </li>
    {% endfor %}
    </ul>
</div>
{% endfor %}
{% endblock %}
