{% if locale=='ko' %}
    <p>
    현재 서울대학교 산업공학과 교수로서 <a href="http://www.gov30com.kr/">정부3.0추진위원회</a> 빅데이터전문위원장과 <a href="http://www.kdms.or.kr/">한국BI데이터마이닝학회</a> 회장을 역임하였고, 
    주 연구 분야는 데이터 선택, 앙상블, 분류예측 및 이상탐지 알고리즘 개발 및 제품개발, 공정분석, 마케팅, 인사, 파이낸스, 의료진단 및 생체보안과 같은 다양한 비즈니스 분야에서의 응용이다.    
    </p>
    <p>
    Pattern Recognition, Neural Computation, IEEE Transactions on Neural Networks, Artificial Intelligence in Medicine, Computer and Security, Journal of Interactive Marketing 등의 top journal에 150 여 편의 논문을 발표하였고, 다수의 특허와 상용 소프트웨어를 개발하였다. 현재 <a href="http://www.igi-global.com/journal/international-journal-operations-research-information/1141">International Journal of Operations Research and Information Systems(IJORIS)</a> 및 <a href="http://www.inderscience.com/browse/index.php?journalCODE=ijcb">International Journal of Cognitive Biometrics</a> 편집위원을 맡고 있다.
    삼성전자, 현대자동차, 포스코, 대우조선해양, 현대중공업, SK텔레콤, LG전자, 삼성카드, CJ제일제당 등과 관련 분야의 연구과제 및 자문을 수행하여왔다.
    지금까지 60여명의 석박사를 배출하였으며, 현재 20여명의 석박사과정 학생들을 지도하고 있다.
    </p>
    <p>
    <a href="http://ie.snu.ac.kr/">서울대 산업공학과</a> 학부와 석사과정에서 경영과학, 확률모델링, 통계학, 인간공학을 공부하였고 Dial-a-Ride 문제의 배차 최적화 알고리즘으로 석사학위를 받았다.
    풀브라이트 장학생으로 선발되어 미국 시애틀 소재 <a href="http://cs.washington.edu/">워싱톤대학교 컴퓨터사이언스 학과</a>에서 이미지 프로세싱 연구로 석사학위를 받았고, 미국 칼리지파크 소재 <a href="http://cs.umd.edu/">메릴랜드대학교 컴퓨터사이언스 학과</a>에서는 기계학습, 회귀 신경회로망, 브레인 모델링, 학습기반 자동진단 연구로 박사학위를 받았다.
    포스텍 컴퓨터공학과 조교수, 호주 University of New South Wales 의 Anthony Mason Fellow, 미국 워싱톤대학교 포스터 경영대학 방문교수를 역임하였다.
    </p>
{% else %}
    <p>
    Sungzoon Cho is currently professor of Industrial Engineering Department and the director of Data Mining Center at Seoul National University (http://dm.snu.ac.kr). He serves on the Government3.0 Committee of Korean government. He is also on the editorial board of International Journal of Operations Research and Information Systems and International Journal of Cognitive Biometrics.  He served as the president of Korea Business Intelligence Data Mining Society from 2009 to 2011.  His main areas of research include data mining algorithms and applications in manufacturing, marketing, Finance, Medical Diagnosis and Biometrics.   
    </p>
    <p>
    He has published more than 150 articles in such journals as Journal of Interactive Marketing, Pattern Recognition, Neural Computation, IEEE Transactions on Neural Networks, AI in Medicine, and Computer and Security.  He obtained several patents from US and Korea and helped to develop two commercial software products which are the de factor standard in psychiatric clinics around Korea.  The companies he has been advising in the area of data analytics include Samsung Electronics, Hyundai Motors, LG Electronics, Hyundai Heavy Industries, POSCO, Daewoo Shipbuilding and Marine Engineering, Doosan Infracore, SK Hynix Semiconductor, SK Telecommunication and CJ. He advised nine PhD and 56 Master students.  He teaches Data Mining and Computational Intelligence.
    </p>
    <p>
    He received BS and MS in Industrial Engineering from SNU. He won a Fulbright Scholarship to obtain Masters and PhD at University of Washington in Seattle, US, and University of Maryland in College Park, US, respectively.  He had visited Foster School of Business at the University of Washington, Seattle, USA and School of Computing at the University of New South Wales, Sydney, Australia. 
    </p>
{% endif %}
