<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Data Mining Techniques 2012</title>
	<style type="text/css">
		h1 {color:blue;}
		body, table {font-size:15px;}
		ol>li {line-height:300%; font-weight:bold;}
		table {border-collapse:collapse;}
		td, th {border:1px solid gray; padding:3px 10px 3px 10px;}
		img {border:0px;}
		.idrow {background-color: #b0c4de;}
		.putthepastbehindyou {background-color: #e0ffff;}
		.caution {background-color: #F5F6CE;}
	</style>
	
	<!--Google Analytics-->
	<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-13040549-8']);
		  _gaq.push(['_trackPageview']);

		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
	</script>
</head>

<body>
	<h1>Data Mining Techniques (464.506) : Spring 2012</h1>
	<table>
		<tr>
			<td>
				<b><font color=red>Notice:</font>&nbsp;학부생 대상 데이터마이닝 강좌는 금년 가을학기에 열릴 예정입니다.</b>
			</td>
		</tr>
		<tr>
			<td>
				<b><font color=red>Notice:</font>&nbsp;All course materials are encrypted with the password noticed in class.</b>
			</td>
		</tr>
		<tr>
			<td>
				<b><font color=red>Notice:</font>&nbsp;프로젝트 최종 발표 강의실이 39동 309호에서 327호로 변경되었습니다.</b>
			</td>
		</tr>
	</table> 
	<ol>
		<li>Instructor</li>
		Prof. Sungzoon Cho&nbsp;
		(zoon<img src="{{ url_for('static', filename='images/icon_email.gif') }}">snu.ac.kr)&nbsp;
		<a href="http://dmlab.snu.ac.kr/~zoon" target="_blank" title="homepage"><img src="{{ url_for('static', filename='images/icon_home.gif') }}"></a><br>
		<ul>
			<li>Office: 39-302 (Expecting to move to 39-320 someday)</li>
			<li>Office Hours: T/Th 14:30~15:30 or by appointments for other times</li>
		</ul>

		<li>Time and Place</li>
			<ul>
				<li>Where: 39-B119</li>
				<li>When: T/Th 15:30~16:45</li>
			</ul>
		
		<li>Texts</li>
			<ul>
				<li>
					Main:<br>
					<ul>
						<li>[HAN] Jiawei Han and Micheline Kamber, <a href="http://noranbook.net/detail.asp?isbn=9780123814791&url=back" target="_blank"><i>Data Mining: Concepts and Techniques 3rd ed.</i></a>, Morgan Kauffman, 2011.
						<a href="LN/Errata.doc"><img src="{{ url_for('static', filename='images/icon_doc.png') }}" title="HAN_errata"></a>
						<a href="LN/DMT_LN_HAN.zip"><img src="{{ url_for('static', filename='images/icon_zip.png') }}" title="HAN_presentations"></a>
					</ul>
				</li>
				<li>
					Sub:<br>
					<ul>
						<li>[BLA] Robert C. Blattberg, <i>Database Marketing: Analyzing and Managing Customers</i>, Springer, 2009.<br>
						<li>[SHU] Galit Shumueli et al., <i>Data Mining for Business Intelligence: Concepts, Techniques, and Applications in Microsoft Office Excel with XLMiner,</i> 2nd ed., Wiley, 2010.
						<li>[SHK] Galit Shumueli et al., 신택수 & 홍태호 역, <i>데이터마이닝</i>, 사이텍미디어, 2009.
						<li>[BER] Michael J. A. Berry & Gordon Linoff, <i>Data Mining Techniques for Marketing,Sales,and Customer Relationship Management,</i> 2nd ed., Wiley, 2004.
						<li><font color=red>[BAK] Stephen Baker, <i>The Numerati</i>, Mariner Books, 2009. <b>교수님 추천서! 시중에 번역본도 있어요 :)</b></font>
						<li>[HAY] Simon Haykin, <i>Neural Networks: A Comprehensive Foundation (2nd Edition),</i> 2nd ed., Pearson Education Inc., 1999.
					</ul>
				</li>
			</ul>
		
		
		<li>Evaluation</li>
			<ul>
				<li>Concepts and Models(70%): Quizzes 30, Midterm Exam 15, Final Exam 25</li>
				<li>Term Project(30%): Proposal 10, Progress 10, Final 10</li>
				<li>Quiz & exam results are <a href="https://docs.google.com/spreadsheet/ccc?key=0Aj8wo5xNNSzCdEpVUFZvN2VnaXUyU3hHWXQ4ZnhKQ1E#gid=0">here</a>.</li>
				<li>You can see project teams and their topics <a href="https://docs.google.com/spreadsheet/ccc?key=0Aj8wo5xNNSzCdFczRkJMMmUwbFBhUTdxb2JBalRFaHc#gid=0">here</a>.
				
			</ul>
		
		<li>Teaching Assistant (TA)</li>
		Eunjeong Lucy Park&nbsp;
		(ejpark04<img src="{{ url_for('static', filename='images/icon_email.gif') }}">snu.ac.kr)<br>		
		<ul>
			<li>Lab: 39-339</li>
		</ul>
		
<!-- Course schedule ----------------------------------->	
		<li>Course schedule&nbsp;<a href="DM_Tech_Syllabus_2012.pdf"><img src="{{ url_for('static', filename='images/icon_page.png') }}" title="syllabus"></a></li>
		<table width=830>
			<tr class="idrow">
				<th width=5%>Week</th>
				<th width=65%>Topic</th>
				<th width=15%>Reading Assignment*</th>
				<th width=15%>Homework**</th>
			</tr>
			
			<tr class="putthepastbehindyou">
				<td rowspan=2>1</td>
				<td>
					<b>3/6 (Tue)</b> - Introduction
					<a href="LN/DMT_LN_Introduction.zip" title="LN_Introduction"><img src="{{ url_for('static', filename='images/icon_zip.png') }}" height="13px"></a>
				</td>
				<td></td><td></td>
			</tr>
			<tr class="putthepastbehindyou">
				<td>
					<b>3/8 (Thu)</b> - Introduction
					<!--
					<a href="LN/01Intro.ppt" title="01Intro.ppt"><img src="{{ url_for('static', filename='images/icon_ppt.png') }}" height="13px"></a>
					-->
				</td>
				<td>HAN 1.1~1.7</td><td></td>
			</tr>

			<tr class="putthepastbehindyou">
				<td rowspan=2>2</td> 
				<td>
					<b>3/13 (Tue)</b> - Business Problem: Marketing
					<!--
					<a href="LN/A1Marketing.pdf" title="A1Marketing"><img src="{{ url_for('static', filename='images/icon_pdf.png') }}" height="13px"></a>
					<a href="LN/A1Marketing_CJ_ham.pdf" title="A1Marketing_CJ_ham"><img src="{{ url_for('static', filename='images/icon_pdf.png') }}" height="13px"></a>					
					-->
					<a href="LN/DMT_LN_A1_marketing.zip" title="LN_A1_marketing.zip"><img src="{{ url_for('static', filename='images/icon_zip.png') }}" height="13px"></a>
					<ul>
						<li>Introductory Paper Submission: Hard-copy to class</li>
					</ul>
				</td>
				<td>
					***<br>	
					<font color = gray>
					BER p.461-471<br>
					SHK p.317-349<br>
					BLA p.13-15<br>
					</font>
				</td>
				<td>Self Introduction Paper</td>
			</tr>
			<tr class="putthepastbehindyou">
				<td>
					<b>3/15 (Thu)</b> - Business Problem: Manufacturing
					<!--
					<a href="LN/A2Manufacturing.pdf" title="A2Manufacturing"><img src="{{ url_for('static', filename='images/icon_pdf.png') }}" height="13px"></a>
					<a href="LN/A2Manufacturing_steel.pdf" title="A2Manufacturing_steel"><img src="{{ url_for('static', filename='images/icon_pdf.png') }}" height="13px"></a>
					-->
					<a href="LN/DMT_LN_A2_manufacturing.zip" title="LN_A2_manufacturing"><img src="{{ url_for('static', filename='images/icon_zip.png') }}" height="13px"></a>
				</td>
				<td>
					***<br>
					<a href="http://www.sciencedirect.com/science/article/pii/S0957417411014114" title="[A2_01] Machine learning-based novelty detection for faulty wafer detection in semiconductor manufacturing"><img src="{{ url_for('static', filename='images/icon_html.png') }}" height="13px"></a>
					<a href="http://www.sciencedirect.com/science/article/pii/S0957417410008365" title="[A2_02] Virtual metrology for run-to-run control in semiconductor manufacturing"><img src="{{ url_for('static', filename='images/icon_html.png') }}" height="13px"></a>
					<!--
					<a href="RA/A2_03.pdf" title="[A2_03] A Neural Network Method for Diagnosing Beam Position Monitors in Storage Ring"><img src="{{ url_for('static', filename='images/icon_pdf.png') }}" height="13px"></a>
					<a href="RA/A2_04.pdf" title="[A2_04] Belt Speed Control in Sintering Plant using Neural Networks"><img src="{{ url_for('static', filename='images/icon_pdf.png') }}" height="13px"></a>
					<a href="RA/A2_05.pdf" title="[A2_05] Reliable Roll Force Prediction in Cold Mill using Multiple Neural Networks"><img src="{{ url_for('static', filename='images/icon_pdf.png') }}" height="13px"></a>
					<a href="RA/A2_06.zip" title="[A2_06] Daewoo Shipbuilding & Marine Engineering"><img src="{{ url_for('static', filename='images/icon_zip.png') }}" height="13px"></a>
					-->
					<a href="RA/DMT_RA_A2_manufacturing.zip" title="RA_A2_manufacturing"><img src="{{ url_for('static', filename='images/icon_zip.png') }}" height="13px"></a>
				</td><td></td>
			</tr>		
			
			<tr class="putthepastbehindyou">
				<td rowspan=2>3</td>
				<td>
					<b>3/20 (Tue)</b> - Business Problem: Risk Management
					<a href="LN/DMT_LN_A3_risk.zip" title="LN_A3_risk"><img src="{{ url_for('static', filename='images/icon_zip.png') }}" height="13px"></a>
				</td>
				<td>
					***<br>
					<font color = gray>SHK p.317-349<br></font>
					<a href="http://www.sciencedirect.com/science/article/pii/S0031320309001502" title="[A3_02] A hybrid novelty score and its use in keystroke dynamics-based user authentication"><img src="{{ url_for('static', filename='images/icon_html.png') }}" height="13px"></a>
					<!--
					<a href="RA/A3_03.zip" title="[A3_03] Theses"><img src="{{ url_for('static', filename='images/icon_zip.png') }}" height="13px"></a>
					<a href="RA/A3_04.zip" title="[A3_04] etc."><img src="{{ url_for('static', filename='images/icon_zip.png') }}" height="13px"></a>
					-->
					<a href="RA/DMT_RA_A3_risk.zip" title="RA_A3_risk"><img src="{{ url_for('static', filename='images/icon_zip.png') }}" height="13px"></a>
				</td><td></td>
			</tr>
			<tr class="putthepastbehindyou">
				<td>
					<b>3/22 (Thu)</b> - Data exploration
					<!--
					<a href="LN/02Data.ppt" title="02Data"><img src="{{ url_for('static', filename='images/icon_ppt.png') }}" height="13px"></a><br>
					-->
					<ul>
						<li>Visualization tool introduction: <a href="http://spotfire.tibco.com">Spotfire</a>
					</ul>
				</td>
				<td>HAN 2.1~2.3</td><td></td>
			</tr>
			<tr class="putthepastbehindyou">
				<td rowspan=2>4</td>
				<td>
					<b>3/27 (Tue)</b> - Data exploration, Preprocessing
					<!--
					<a href="LN/03Preprocessing.ppt" title="03Preprocessing"><img src="{{ url_for('static', filename='images/icon_ppt.png') }}" height="13px"></a>
					-->
				</td>
				<td>HAN 2.4~3.3</td><td></td>
			</tr>
			<tr class="putthepastbehindyou">
				<td>					
					<b>3/29 (Thu)</b> - Preprocessing<br>					
				</td>
				<td>HAN 3.4~3.5</td><td></td>				
			</tr>
			<tr class="putthepastbehindyou">
				<td rowspan=2>5</td>
				<td>
					<b>4/3 (Tue)</b> - Mining Frequent Patterns, Associations and Correlations
					<!--
					<a href="LN/06FPBasic.ppt" title="06FPBasic"><img src="{{ url_for('static', filename='images/icon_ppt.png') }}" height="13px"></a>
					-->
				</td>
				<td>HAN 6.1~6.3</td><td></td>
			</tr>
			<tr class="putthepastbehindyou">
				<td>						
					<b>4/5 (Thu)</b> - Intro: Classification and Prediction, Regression (1)
					<!--
					<a href="LN/08ClassBasic.ppt" title="08ClassBasic"><img src="{{ url_for('static', filename='images/icon_ppt.png') }}" height="13px"></a>
					<a href="LN/08ClassBasic.pdf" title="08ClassBasic"><img src="{{ url_for('static', filename='images/icon_pdf.png') }}" height="13px"></a>
					-->
					<a href="LN/DMT_LN_ClassificationIntro_pw.zip" title="LN_ClassificationIntro"><img src="{{ url_for('static', filename='images/icon_zip.png') }}" height="13px"></a>
				</td>
				<td>
					HAN 8.1<br>
					SHU 6.1~6.3, 10.1~10.2
				</td><td></td>				
			</tr>
			<tr class="putthepastbehindyou">
				<td rowspan=2>6</td>
				<td>
					<b>4/10 (Tue)</b> - Intro: Classification and Prediction, Regression (2)		
				</td>
				<td></td><td></td>
			</tr>
			<tr class="putthepastbehindyou">
				<td>
					<b>4/12 (Thu)</b> - Intro: Cluster Analysis
					<!--
					<a href="LN/10ClusBasic.ppt" title="10ClusBasic"><img src="{{ url_for('static', filename='images/icon_ppt.png') }}" height="13px"></a>	
					-->
					<a href="LN/DMT_LN_ClusteringIntro_pw.zip" title="LN_ClusteringIntro"><img src="{{ url_for('static', filename='images/icon_zip.png') }}" height="13px"></a>					
				</td>
				<td>HAN 10.1~10.2, 10.6</td><td></td>				
			</tr>
			<tr class="putthepastbehindyou">
				<td rowspan=2>7</td>
				<td>
					<b>4/17 (Tue)</b> - Lab: Matlab Experiments
					<a href="LN/DMT_lab_MATLAB.zip"><img src="{{ url_for('static', filename='images/icon_zip.png') }}" height="13px"></a>
				</td>
				<td></td><td></td>
			</tr>
			<tr class="putthepastbehindyou">
				<td>					
					<b>4/19 (Thu) - Midterm Exam</b><br>
					<ul>
						<li><font color = "blue">Location: 43-1-402</font>
					</ul>
				</td>
				<td></td><td></td>				
			</tr>
			<tr class="putthepastbehindyou">
				<td rowspan=2>8</td>
				<td>
					<b>4/24 (Tue) - <font color = 'blue'>휴강</b> (춘계 BI데이터마이닝 학회)</font><br>					
				</td>
				<td></td><td></td>		
			</tr>
			<tr class="putthepastbehindyou">
				<td>					
					<b>4/26 (Thu)</b> - Classification and Prediction: Decision Trees				
					+ <i>Term Project Proposal Presentation</i> <font color = 'red'>(연장 수업)</font><br>
					<ul>
						<li>Report Format: Presentation (max 10 slides)</li>
						<li>Required Contents: 
							<ul>
								<li>Business background</li>
								<li>Business problem</li>
								<li>Data mining process</li>
								<li>How to obtain the data</li>
								<li>Models to use</li>
								<li>Expected data mining results</li>
								<li>Expected business implications</li>
							</ul>
						<li>File name example: DMT_Team11_20120425_Data-segmentation-for-semiconductor-manufaturing-data_Proposal.pptx</li>
						<li>Submission: 
							<ul>
								<li>Soft-copy: Due 4/25(Wed) 23:59 via email to TA</li>
								<li>Hard-copy: Due 4/26(Thu) 16:00 bring to class</li>
							</ul>							
					</ul>
				</td>
				<td>HAN 8.2</td><td>Proposal Report</td>				
			</tr>
			<tr class="putthepastbehindyou">
				<td rowspan=2>9</td>
				<td>
					<b>5/1 (Tue)</b> - Classification and Prediction: Bayes, k-NN + Evaluation <font color = 'red'>(연장 수업)</font><br>				
				</td>
				<td>HAN 8.3, 8.5, 9.5</td><td></td>
			</tr>
			<tr class="putthepastbehindyou">
				<td>						
					<b>5/3 (Thu)</b> - Classification and Prediction: Applications
				</td>
				<td></td><td></td>				
			</tr>
			<tr class="putthepastbehindyou">
				<td rowspan=2>10</td>
				<td>
					<b>5/8 (Tue)</b> - Cluster Analysis: Hierarchical Methods<br> 
				</td>
				<td>HAN 10.3</td><td></td>
			</tr>
			<tr class="putthepastbehindyou">
				<td>						
					<b>5/10 (Thu) - <font color = 'blue'>휴강</b> (춘계 산업공학회)</font><br>				
				</td>
				<td></td><td></td>
			</tr>		
			
			<tr class="putthepastbehindyou" id="som">
					<td rowspan=2>11</td>
					<td>
						<b>5/15 (Tue)</b> - Cluster Analysis: SOM (1)
						<a href="LN/DMT_LN_SOM.zip"><img src="{{ url_for('static', filename='images/icon_zip.png') }}" height="13px"></a>
					</td>
					<td>HAY 9.1~9.5</td><td></td>
			</tr>			
			<tr class="putthepastbehindyou">
				<td>						
					<b>5/17 (Thu)</b> - Cluster Analysis: SOM (2)		
				</td>
				<td>HAN 12.1~12.4</td><td></td>				
			</tr>
			<tr class="putthepastbehindyou">
				<td rowspan=2>12</td>
				<td>
					<b>5/22 (Tue)</b> - <i>Term Project Progress Presentation</i> <font color = 'red'>(연장 수업 + pizza party)</font>
					<ul>
						<li>Report Format: Presentation (max 20 slides)</li>
						<li>Required Contents: 
							<ul>
								<li>Proposal</li>
								<li>Data exploration, Model used, Data mining results</li>
							</ul>
						<li>File name example: DMT_Team11_20120521_Data-segmentation-for-semiconductor-manufaturing-data_Progress.pptx</li>
						<li>Submission: 
							<ul>
								<li>Soft-copy: Due 5/21(Mon) 23:59 via email to TA</li>
								<li>Hard-copy: Due 4/22(Tue) 16:00 bring to class</li>
							</ul>	
					</ul>					
				</td>
				<td></td><td>Progress Report</td>
			</tr>
			<tr class="putthepastbehindyou">
				<td>					
					<b>5/24 (Thu)</b> - Outlier Detection + Classification and Prediction: MLP		
					<a href="LN/DMT_LN_NN.zip"><img src="{{ url_for('static', filename='images/icon_zip.png') }}" height="13px"></a>
				</td>
				<td>HAN 9.2</td><td></td>				
			</tr>
			<tr class="putthepastbehindyou">
				<td rowspan=2>13</td>
				<td>
					<b>5/29 (Tue)</b> - Classification and Prediction: SVM 
					<a href="LN/DMT_LN_SVM.zip"><img src="{{ url_for('static', filename='images/icon_zip.png') }}" height="13px"></a>	
				</td>
				<td>HAN 9.3</td><td></td>
			</tr>
			<tr class="putthepastbehindyou">
				<td>						
					<b>5/31 (Thu)</b> - Cluster Analysis: Density, Grid, Model-based Methods + Clustering Applications<br>				
				</td>
				<td>HAN 10.4~10.5, 11.1</td><td></td>				
			</tr>
			<tr class="putthepastbehindyou">
				<td rowspan=2>14</td>
				<td>
					<b>6/5 (Tue)</b> - Text Mining and its Applications
				</td>
				<td></td><td></td>
			</tr>
			<tr class="putthepastbehindyou">
				<td>					
					<b>6/7 (Thu)</b> - Big Data Analysis
				</td>
				<td></td><td></td>				
			</tr>
			<tr class="putthepastbehindyou">
				<td rowspan=2>15</td>
				<td>
					<b>6/12 (Tue)</b> - Image Processing <a href="LN/DMT_LN_CV.zip"><img src="{{ url_for('static', filename='images/icon_zip.png') }}" height="13px"></a>
					<ul>
						<li>아주대학교 김동윤 교수님 초청 강의</li>
					</ul>
				</td>
				<td></td><td></td>
			</tr>
			<tr class="putthepastbehindyou">
				<td>						
					<b>6/14 (Thu) - Final Exam</b><br>
					<ul>
						<li>전범위</li>
						<li><font color = "blue">Location: 43-1-402</font>
					</ul>
				</td>
				<td></td><td></td>			
			</tr>
			<tr class="putthepastbehindyou">
				<td rowspan=2>16</td>
				<td>						
					<b>6/19 (Tue) - <font color = 'blue'>휴강</b></font><br>					
				</td>
				<td></td><td></td>		
			</tr>	
			<tr class="putthepastbehindyou">
				<td>
					<b>6/21 (Thu)</b> - <i>Term Project Final Presentation</i> <font color = 'red'>(연장 수업)</font><br>
					<ul>
						<li>Time: 15:30-18:00</li>
						<li>Location: 39-327
						</font>
						<li>Report Format: Presentation (max 30 slides)</li>
						<li>Required Contents: 
							<ul>
								<li>Progress report
								<li>Enhanced results, Business implications, Future work</li>
							</ul>
						<li>File name example: DMT_Team11_20120618_Data-segmentation-for-semiconductor-manufaturing-data_Final.pptx</li>
						<li>Submission: 
							<ul>
								<li>Soft-copy: Due 6/20(Wed) 23:59 via email to TA</li>
								<li>Hard-copy: Due 6/21(Tuu) 16:00 bring to class</li>
							</ul>
					</ul>					
				</td>
				<td></td><td>Final Report</td>
			</tr>
		</table>
		* Quiz는 reading assignment의 범위 내에서 출제됩니다. 문제는 italic & bold-face text, figures 그리고 equations에서 주로 출제.<br>
		** Delay penalty: 10% off per hour from soft-copy due<br>
		*** 논문의 경우, <u>introduction 부분만 읽으면 됩니다</u>. 전문을 읽지 않아도 됩니다. & <u>NO</u> quiz today!<br><br>
		
		<li>Board</li>
			<div id="board">
				<iframe src="http://dmlab.snu.ac.kr/bbs/xe/dmlab_course_DMTech2012" width="800px" height="700px" frameborder="0"></iframe>
			</div>
	</ol>
</body>

</html>
