<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Topics in Industrial Engineering(Unstructured Data Analytics) 2015</title>
    <style type="text/css">
        h1 {color:blue;}
        body, table {font-size:15px;}
        ol>li {line-height:130%; font-weight:bold;}
        table {border-collapse:collapse;}
        td, th {border:1px solid gray; padding:3px 10px 3px 10px;}
        img {border:0px;}
        .idrow {background-color: #b0c4de;}
        .putthepastbehindyou {background-color: #e0ffff;}
        .caution {background-color: #F5F6CE;}
    </style>
</head>
 
<body>
    <h1>Topics in Industrial Engineering(Unstructured Data Analytics) (406.559): Fall 2015</h1>
    <table>
        <tr>
            <td>
                <b><font color=red>Notice:</font>&nbsp;산업공학특론 수업 게시판입니다.<br /></b>
            </td>
        </tr>
        <tr>
            <td>
                Important dates: TBA
            </td>
        </tr>
    </table> 
    <ol>
        <li>Instructor</li>
        Prof. Sungzoon Cho&nbsp;
        (zoon at snu.ac.kr)&nbsp;
        <br>
    <ul>
        <li>Office: 39-302</li>
    </ul>
    <br />
        <li>Time and Place</li>
            <ul>
                <li>Where: 39-309</li>
                <li>When: Mon/Wed 14:00~15:15</li>
            </ul>
    <br />
        <li>Prerequisite</li>
            <ul>
                <li>Data Mining (406.429) or</li>
                <li>Data Mining Techniques (464.506)</li>
            </ul>
        <br />
        <li>Evaluation</li>
            <ul>
                <li>연구/개발 관련 발표 : 30%</li>
                <li>연구/개발 주제 제안 : 10%</li>
                <li>연구/개발 진도 : 20%</li>
                <li>연구/개발 최종 : 30%</li>
                <li>기타 : 10%</li>
            </ul>
        <br />  
        <li>Teaching Assistant (TA)</li>
        Han Kyul Kim&nbsp;
        (hank at dm.snu.ac.kr)<br>
        <ul>
            <li>Lab: 39-339</li>
        </ul>
        
    <br />
        <li>Course Schedule(Subject to change)  <a href="{{ url_for('static', filename='docs/st2015/st2015_syllabus.pdf')}}"> Syllabus</a></li>
        <table width=870 cellpadding="0" cellspacing="0">
            <tr class="idrow">
                <th width="6%">Week</th>
            <th width="54%" colspan="2">
                <p>Topic</p>
            </th>

            </th>
            </tr>
            
        <tr class>
                <td rowspan=1 width="49">1</td>
            <td width="70">
                <p style="margin-top:0; margin-bottom:0;"><b>9/2</b></p>
            </td>
            <td width="500">
                <p style="margin-top:0; margin-bottom:0;">Data Analytics 소개 </p>
            </td>
        </tr>
         <tr class>
                <td rowspan=2 width="49">2</td>
            <td width="70">
                <p style="margin-top:0; margin-bottom:0;"><b>9/7</b></p>
            </td>
            <td width="500">
                <p style="margin-top:0; margin-bottom:0;">Data Analytics 소개</p>
            </td>
        </tr>
        <tr class>
            <td width="54">
                <p style="margin-top:0; margin-bottom:0;"><b>9/9</b></p> 
            </td>
            <td width="500">
                <p style="margin-top:0; margin-bottom:0;">Data Analytics 소개</p>
            </td>
        </tr>
        <tr class>
                <td rowspan=2 width="49">3</td>
            <td width="70">
                <p style="margin-top:0; margin-bottom:0;"><b>9/14</b></p>
            </td>
            <td width="500">
                <p style="margin-top:0; margin-bottom:0;"><a href="{{ url_for('static', filename='docs/st2015/proposals.zip')}}">Idea Proposal</a></p>
            </td>
        </tr>
        <tr class>
            <td width="54">
                <p style="margin-top:0; margin-bottom:0;"><b>9/16</b></p> 
            </td>
            <td width="500">
                <p style="margin-top:0; margin-bottom:0;"><a href="{{ url_for('static', filename='docs/st2015/jinwon1.pdf')}}">Unsupervised autoencoders for
                anomaly detection: noise, sparseness, stacks</a> (안진원)</p>
                <p style="margin-top:0; margin-bottom:0;"><a href="{{ url_for('static', filename='docs/st2015/heewoong1.pdf')}}">웹 로그인 아이디와 사용자 성별 및 연령대 관계 분석과 예측 모형: 문제 정의와 기존 방법 리뷰</a> (박희웅)</p>
            </td>
        </tr>
         <tr class>
                <td rowspan=2 width="49">4</td>
            <td width="70">
                <p style="margin-top:0; margin-bottom:0;"><b>9/21</b></p>
            </td>
            <td width="500">
                <p style="margin-top:0; margin-bottom:0;"> To be updated... (김미숙)</p>
                <p style="margin-top:0; margin-bottom:0;"><a href="{{ url_for('static', filename='docs/st2015/hank1.pdf')}}">Distributed Representation of Documents with Explicit Explanatory Features: Background Research</a> (김한결)</p>
            </td>
        </tr>
        <tr class>
            <td width="54">
                <p style="margin-top:0; margin-bottom:0;"><b>9/23</b></p> 
            </td>
            <td width="500">
                <p style="margin-top:0; margin-bottom:0;">외부강연 <정규환 박사></p>
            </td>
        </tr>
        <tr class>
                <td rowspan=2 width="49">5</td>
            <td width="70">
                <p style="margin-top:0; margin-bottom:0;"><b>9/28</b></p>
            </td>
            <td width="500">
                <p style="margin-top:0; margin-bottom:0;"><b><font color="red">추석 연휴</font></b></p>
            </td>
        </tr>
        <tr class>
            <td width="54">
                <p style="margin-top:0; margin-bottom:0;"><b>9/30</b></p> 
            </td>
            <td width="500">
                <p style="margin-top:0; margin-bottom:0;"><a href="{{ url_for('static', filename='docs/st2015/hoseong1.pdf')}}">산업공학특론 중간발표 #1</a> (양호성)</p>
                <p style="margin-top:0; margin-bottom:0;"> To be updated... (이제혁)</p>
            </td>
        </tr>
        <tr class>
            <td rowspan=2 width="49">6</td>
            <td width="70">
                <p style="margin-top:0; margin-bottom:0;"><b>10/5</b></p>
            </td>
            <td width="500">
                <p style="margin-top:0; margin-bottom:0;"> To be updated... (안진원)</p>
                <p style="margin-top:0; margin-bottom:0;"><a href="{{ url_for('static', filename='docs/st2015/heewoong2.pdf')}}">웹 로그인 아이디와 사용자 성별 및 연령대 관계 분석과 예측 모형: 형태소 분리와 데이터 탐색</a> (박희웅)</p>
            </td>
        </tr>
        <tr class>
            <td width="54">
                <p style="margin-top:0; margin-bottom:0;"><b>10/7</b></p> 
            </td>
            <td width="500">
                <p style="margin-top:0; margin-bottom:0;"><a href="{{ url_for('static', filename='docs/st2015/misuk1.pdf')}}">Learning Word Vectors for Sentiment Analysis</a> (김미숙)</p>
                <p style="margin-top:0; margin-bottom:0;"><a href="{{ url_for('static', filename='docs/st2015/hank2.pdf')}}">Distributed Representation of Documents with Explicit Explanatory Features: Pilot Test</a></p>
                <p style="margin-top:0; margin-bottom:0;">(김한결)</p>
            </td>
        </tr>
        <tr class>
            <td rowspan=2 width="49">7</td>
            <td width="70">
                <p style="margin-top:0; margin-bottom:0;"><b>10/12</b></p>
            </td>
            <td width="500">
                <p style="margin-top:0; margin-bottom:0;"><a href="{{ url_for('static', filename='docs/st2015/jehyuk1.pdf')}}">Multivariate Time Series Classification</a> (이제혁)</p>
                <p style="margin-top:0; margin-bottom:0;"> To be updated... (양호성)</p>
            </td>
        </tr>
        <tr class>
            <td width="54">
                <p style="margin-top:0; margin-bottom:0;"><b>10/14</b></p> 
            </td>
            <td width="500">
                <p style="margin-top:0; margin-bottom:0;"> To be updated... (안진원)</p>
                <p style="margin-top:0; margin-bottom:0;"> To be updated... (박희웅)</p>
            </td>
        </tr>
        <tr class>
            <td rowspan=2 width="49">8</td>
            <td width="70">
                <p style="margin-top:0; margin-bottom:0;"><b>10/19</b></p>
            </td>
            <td width="500">
                <p style="margin-top:0; margin-bottom:0;">Industry 3.5 as a hybrid strategy to empower smart production and some case studies</p>
                <p style="margin-top:0; margin-bottom:0;">(Prof. Chen-Fu Chien)</p>
            </td>
        </tr>
        <tr class>
            <td width="54">
                <p style="margin-top:0; margin-bottom:0;"><b>10/21</b></p> 
            </td>
            <td width="500">
                <p style="margin-top:0; margin-bottom:0;">데이터 어낼리틱스 트렌드 및 사례 연구</p>
                <p style="margin-top:0; margin-bottom:0;">(김영호 한국IBM 전무)</p>
            </td>
        </tr>
         <tr class>
            <td rowspan=2 width="49">8</td>
            <td width="70">
                <p style="margin-top:0; margin-bottom:0;"><b>10/19</b></p>
            </td>
            <td width="500">
                <p style="margin-top:0; margin-bottom:0;">Industry 3.5 as a hybrid strategy to empower smart production and some case studies</p>
                <p style="margin-top:0; margin-bottom:0;">(Prof. Chen-Fu Chien)</p>
            </td>
        </tr>
        <tr class>
            <td width="54">
                <p style="margin-top:0; margin-bottom:0;"><b>10/21</b></p> 
            </td>
            <td width="500">
                <p style="margin-top:0; margin-bottom:0;">데이터 어낼리틱스 트렌드 및 사례 연구</p>
                <p style="margin-top:0; margin-bottom:0;">(김영호 한국IBM 전무)</p>
            </td>
        </tr>
         <tr class>
            <td rowspan=2 width="49">9</td>
            <td width="70">
                <p style="margin-top:0; margin-bottom:0;"><b>10/26</b></p>
            </td>
            <td width="500">
                <p style="margin-top:0; margin-bottom:0;"><b><font color="red">휴강</font></b></p>
            </td>
        </tr>
        <tr class>
            <td width="54">
                <p style="margin-top:0; margin-bottom:0;"><b>10/28</b></p> 
            </td>
            <td width="500">
                <p style="margin-top:0; margin-bottom:0;"><b><font color="red">휴강</font></b></p>
            </td>
        </tr>
        <tr class>
            <td rowspan=2 width="49">10</td>
            <td width="70">
                <p style="margin-top:0; margin-bottom:0;"><b>11/2</b></p>
            </td>
            <td width="500">
                <p style="margin-top:0; margin-bottom:0;"><b><font color="red">휴강</font></b></p>
            </td>
        </tr>
        <tr class>
            <td width="54">
                <p style="margin-top:0; margin-bottom:0;"><b>11/4</b></p> 
            </td>
            <td width="500">
                <p style="margin-top:0; margin-bottom:0;"><b><font color="red">휴강</font></b></p>
            </td>
        </tr>
        <tr class>
            <td rowspan=3 width="49">11</td>
            <td width="70">
                <p style="margin-top:0; margin-bottom:0;"><b>11/9</b></p>
            </td>
            <td width="500">
                <p style="margin-top:0; margin-bottom:0;"><a href="{{ url_for('static', filename='docs/st2015/hank3.pdf')}}">Distributed Representation of Documents with Explicit Explanatory Features</a> (김한결)</p>
                <p style="margin-top:0; margin-bottom:0;"><a href="{{ url_for('static', filename='docs/st2015/hoseong2.pdf')}}">Brand2vec : Distributed representation of Brands and Applications</a> (양호성)</p>
            </td>
        </tr>
        <tr class>
            <td width="54">
                <p style="margin-top:0; margin-bottom:0;"><b>11/11</b></p> 
            </td>
            <td width="500">
                <p style="margin-top:0; margin-bottom:0;"><p style="margin-top:0; margin-bottom:0;">To be updated... (김미숙)</p>
                <p style="margin-top:0; margin-bottom:0;">To be updated... (이제혁)</p>
            </td>
        </tr>
        <tr class>
            <td width="54">
                <p style="margin-top:0; margin-bottom:0;"><b>11/13</b></p> 
            </td>
            <td width="500">
                <p style="margin-top:0; margin-bottom:0;"><a href="{{ url_for('static', filename='docs/st2015/heewoong3.pdf')}}">웹 로그인 아이디와 사용자 성별 및 연령대 관계 분석과 예측 모형: 구조적 분석</a> (박희웅)</p>
                <p style="margin-top:0; margin-bottom:0;"><a href="{{ url_for('static', filename='docs/st2015/jinwon2.pdf')}}">Semi-supervised Learning with Deep Generative Models</a> (안진원)</p>
            </td>
        </tr>
        <tr class>
            <td rowspan=2 width="49">12</td>
            <td width="70">
                <p style="margin-top:0; margin-bottom:0;"><b>11/16</b></p>
            </td>
            <td width="500">
                <p style="margin-top:0; margin-bottom:0;"><a href="{{ url_for('static', filename='docs/st2015/hank4.pdf')}}">From Word EmbeddingsTo Document Distances</a> (김한결)</p>
                <p style="margin-top:0; margin-bottom:0;">To be updated... (김미숙)</p>
                <p style="margin-top:0; margin-bottom:0;"><a href="{{ url_for('static', filename='docs/st2015/hoseong3.pdf.pdf')}}">Mining Marketing Meaning from Online Chatter:
                Strategic Brand Analysis of Big Data using Latent Dirichlet Allocation</a> (양호성)</p>
                <p style="margin-top:0; margin-bottom:0;"><a href="{{ url_for('static', filename='docs/st2015/jinwon3.pdf')}}">A Recurrent Latent Variable Model for Sequential Data</a> (안진원)</p>
            </td>
        </tr>
          <tr class>
            <td width="54">
                <p style="margin-top:0; margin-bottom:0;"><b>11/19</b></p> 
            </td>
            <td width="500">
                <p style="margin-top:0; margin-bottom:0;"> (박희웅)</p>
                <p style="margin-top:0; margin-bottom:0;"> (이제혁)</p>
            </td>
        </tr>
</body>
 
</html>